*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}
html{
	font-size:62.5%;
}
/* Custom Fonts */
@font-face {
	src: url('../fonts/FontsFree-Net-proxima_nova_reg-webfont.woff');
	font-family: 'Proxima';
	font-style:normal;
	font-weight:normal;
}
@font-face {
	src: url('../fonts/Proxima Nova Bold.woff');
	font-family: 'Proxima';
	font-style:normal;
	font-weight:bold;
}
/* Global Css */
h1,h2,h3,h4,h5,h6{
	font-family:'Proxima', sans-serif;
	font-weight:bold;
	color:var(--heading-color);
}
p,span,a{
	font-family:'Proxima', sans-serif;
	font-weight:normal;
	font-size:1.6rem;
}
.container{
	max-width:1170px;
	margin:0 auto;
}
.d-flex{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
}
.btn {
    display: inline-block;
    color: #fff;
    background: var(--secondary);
    padding: 1.3rem 3.8rem;
    font-size: 2rem;
    text-transform: uppercase;
}
:root{
	--primary:#1b0c30;
	--secondary:#f33c7a;
	--heading-color:#e3d5ff;
	--bg:#2d1948;
	--text-color:#826ba9;
}
section{
	padding:8rem 0;
}
.section-heading h2 {
    font-size: 3.8rem;
    color: var(--heading-color);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}
.section-heading p {
    text-align: center;
    width: 40%;
    color: var(--text-color);
    margin: 2rem auto;
    line-height: 2.2rem;
}
/* Header SEction Design */
.header-section {
    padding: 4rem 0;
    position: fixed;
    width: 100%;
    z-index: 999;
	transition:all .3s ease;
}
header.header-section.sticky {
    background: var(--primary);
    padding: 2rem 0;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.10);
}
header.header-section.sticky .container {
    border-bottom: none;
    padding-bottom: 0;
}
.header-section .menu a{
	font-size:1.4rem;
	color:var(--heading-color);
	text-transform:uppercase;
	margin-left:2.2rem;
	position: relative;
}
.header-section .menu a:after {
    content: '';
	width:0;
	width:100%;
    height: 2px;
    position: absolute;
    background: var(--secondary);
    bottom: -10px;
    left: 0px;
	transform:scaleX(0);
	transition: transform .3s;
	transform-origin: right;
}
.header-section .menu a:hover:after{
	transform:scaleX(1);
	transform-origin: left;
}
.header-section .container{
	border-bottom: 1px solid var(--heading-color);
	padding-bottom: 3rem;
}
.header-section .logo a{
	font-size:1.8rem;
	color:#e3d5ff;
	text-transform: uppercase;
}
.header-section .menu li:first-child a{
	margin-left:0;
}
.mobile-menu {
    font-size: 3rem;
    color: var(--heading-color);
	cursor:pointer;
	display:none;
	z-index:9999;
}
ul.menu.show {
    left: 0;
}

/* Banner DEsign Css */
.banner{
	background:url(../image/home.png), no-repeat center;
	background-size:cover;
	min-height:100vh;
	position:relative;
}
.banner .banner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 13rem;
    padding-top: 10rem;
}
.banner .banner-content .banner-headign{
	font-size: 6rem;
	color:var(--heading-color);
	font-family: 'Proxima', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;

}
.banner .banner-content .banner-headign span{
	font-size: 7rem;
	color:var(--heading-color);
	font-family: 'Proxima', sans-serif;
	font-weight:bold;
	display: block;
}
.banner .banner-content .banner-headign :last-child{
	color:var(--secondary)
}
.banner .banner-content p {
    color: var(--text-color);
    width: 54%;
    font-size: 1.7rem;
    line-height: 2.4rem;
    margin: 1.5rem 0;
}
.banner-btn {
    background: transparent;
    border: 2px solid var(--secondary);
    color: var(--secondary);
	position:relative;
	transition:all .3s ease;
}
.banner-btn:after{
	position:absolute;
	content:'';
	width: 100%;
	height:100%;
	background:var(--secondary);
	top:0;
	left:0;
	z-index:-11;
	transform-origin:right;
	transition:transform .3s;
	transform:scaleX(0);
}
.banner-btn:hover:after{
	transform-origin:left;
	transform:scaleX(1);
}
.banner-btn:hover{
	color:#fff;
}
/* About Section Design */
.about,
.work{
	background:var(--bg)
}
.about .d-flex{
	justify-content: space-evenly;
}
.about .about-left h3{
	font-size:3.8rem;
	font-weight:400;
	text-transform:uppercase;
	width: 68%;
	color: var(--heading-color);
	margin-bottom: 2rem;
}
.about .about-left p{
	color: var(--text-color);
	line-height: 2.3rem;
	width: 75%;
}
.about .about-left{
	width:calc(50% - 100px);
}
.about .about-right .about-img-bx {
    border: 5rem solid #574472;
    border-radius: 50%;
    width: 45rem;
    height: 45rem;
	position:relative;
}
.about .about-right img {
    width: 40rem;
    height: 30rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
/* ================== 
SKILL BAR SECTION 
=================== */
.skills{
	background:var(--primary);
}
.skills .skill-bar-wrapper {
	margin-top:6rem;
}
.skills .d-flex{
	justify-content: space-evenly;
}
.skill-bar-wrapper .single-skill h4{
	font-size:1.8rem;
	text-align:center;
	margin-top:2rem;
	font-weight:400;
}
/* ================== 
WORK AREA SECTION 
=================== */
.img-box{
	margin-top: 7rem;
}
.work .single-img{
	width:25%;
	height: 350px;
	position:relative;
	transition: all .4s ease;
}
.work .single-img img{
	width:100%;
	height:100%;
	display: block;
}
.work .single-img .icon i{
	font-size:3rem;
	color:var(--text-color);
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	opacity:0;
}
.work .single-img:hover .icon i {
	opacity:1;
}
.work .see-more{
	text-align: center;
}
.work .work-btn{
	background:none;
	border:2px solid var(--text-color);
	margin-top: 6rem;
	border-radius: 8px;
	font-size:1.7rem;
}
/* ================== 
PROCESS AREA SECTION 
=================== */
.process{
	background:url(../image/home2.png) no-repeat center;
	background-size:cover;
}
.process .process-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    padding-top: 6rem;
}
.process-single .process-text{
	margin-right:3rem;
}
.process-wrapper .process-single{
	display: flex;
	align-items:flex-start;
}
.process-single .process-text h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--heading-color);
}
.process-single .process-text p{
	color:var(--text-color);
}
.process-single .process-icon {
    font-size: 4rem;
    color: var(--heading-color);
}
/* ================== 
CUSTOMERS AREA SECTION 
=================== */
.customers-about{
	background: var(--bg);
}
.customers-about .customers-content{
	width:50%;
	margin:auto;
	text-align:center;
}
.customers-about .customers-content p{
	color:#fff;
	line-height:2.2rem;
	margin-top: 5rem;
}
.customers-about .customers-content span{
	color:var(--secondary);
	display: inline-block;
	text-transform: uppercase;
	margin-top: 3rem;
}
/* ================== 
BRAND AREA SECTION 
=================== */
.brand {
	background:var(--primary);
}
/* ================== 
 CONTACT .AREA SECTION 
=================== */
.contact{
	background:linear-gradient(rgba(27,12,48,0.9),rgba(27,12,48,0.9)),url(../image/contact.jpg) no-repeat center;
	background-size:cover;
}
.contact .section-heading h2 {
    color: #fff;
    font-weight: 600;
}
.contact-form{
	width:68%;
	margin:5rem auto 0;
}
.contact-form form input{
    width:calc(33.33% - 2rem);
	padding:1.5rem;
	margin:2rem 0;
	border:none;
	outline:none;
	background:var(--primary);
	color:var(--heading-color)
}
.contact-form form input::placeholder {
	color:var(--heading-color);
}
.contact-form form textarea{
	width:100%;
	resize:none;
	height:20rem;
	padding:1.5rem;
	border:none;
	outline:none;
	background:var(--primary);
	color:var(--heading-color);
}
.contact-form form textarea::placeholder {
	color:var(--heading-color);
}
.contact-form .submit-btn{
	text-align:center;
}
.contact-form form input[type="submit"] {
    width: 30%;
    text-transform: uppercase;
    background: var(--secondary);
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
	cursor:pointer;
}
/* ================== 
 FOOTER AREA SECTION 
=================== */
.footer{
	background:var(--primary);
	padding:3rem 0;
}
.footer .left p{
	color:var(--heading-color);
}
.footer .left p span{
	color:var(--secondary);
	text-transform: uppercase;
}
.footer ul li{
	display:inline-block;
	margin:0 1rem;
}
.footer ul li a{
	color:var(--heading-color);
}
/* SERVICES PAGE DESIGN CSS */
.breadcum{
	background:var(--primary);
}
.breadcum .bread-content h2{
	text-align:center;
	font-size:7rem;
	font-weight:500;
	text-transform:uppercase;
	padding-top: 4rem;
}
.breadcum .bread-content p{
	color:var(--heading-color);
	text-align: center;
	font-size:1.8rem;
	text-transform:uppercase;
	padding-top: 2rem;
}
.services-skill{
	background:#1c1c1c;
}
.services-process{
	background:#fff;
	color:#000;
}
.services-process .section-heading h2,
.services-process .process-text h3,
.services-process .process-text p,
.services-process .process-icon
{
	color:#000;
}
/* 404 PAGE DESIGN CSS */
.error-page{
	padding-top: 0;
}
.error-page h2{
	font-size:28.9rem;
	color:#1c1c1c;
	font-weight:400;
	text-align:center;
}
.error-page p{
	width:65%;
	margin:0 auto;
	text-align: center;
}
/* CONTACT PAGE DESIGN CSS */
.contact-page{
	background:#fff;
}
.contact-page .section-heading h2,
.contact-page .section-heading p
{
	color:#000;
}
/* ABOUT US PAGE DESIGN CSS */
.about-page .section-heading h2{
	color:#000;
}
.about-page-content{
	width:85%;
	margin:auto;
	text-align: center;
}
.about-page-content h1{
	font-size:3.8rem;
	margin:2rem 0;
	font-weight:500;
	color:#1c1c1c;
	text-transform: uppercase;
}
.about-page-content p{
	color:#1c1c1c;
	line-height:2.1rem;
	margin-bottom: 3rem;
}
.about-page-content img{
	display: block;
	width:100%;
	height:auto;
}
/* WORK PAGE DESIGN CSS */
.work-page{
	padding-bottom: 0;
	background:#fff;
}
.work-page .section-heading h2,
.work-page .section-heading p
{
	color:#000;
}
/* TESTIMONIALS PAGE DESIGN CSS */
.testi-content{
	display:flex;
	width:75%;
	margin:5rem auto 0;
}
.testimonials-page .section-heading h2,
.testimonials-page .section-heading p
{
	color:#000;
}
.testi-content .img-bx img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 5px solid #998daa;
    object-fit: cover;
    padding: .8rem;
    margin-right: 2rem;
}
.testi-content .review h3{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
}
.testi-content .review span{
    color: var(--secondary);
    font-size: 1.4rem;
    text-transform: uppercase;
    display: inline-block;
    margin: .5rem 0;
}
.testi-content .review p{
    color: #5e5b5b;
    line-height: 2.1rem;
}
/* owl carousel css */
.owl-dots{
	margin-top: 2rem;
	text-align: center;
}
.owl-dots button {
    background: #a6a4a4 !important;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 50%;
    text-align: center;
}
.owl-dots button.active{
	background:var(--secondary) !important;
}